
<div class="register-form">
  <h2 class = "text-center"> Register</h2>
  <p>Enter your credentials below to register</p>
<form [formGroup] = "registerForm" (ngSubmit) = "onSubmit()">
    <div class="form-group">

        <input type="text" id="firstname" formControlName = "firstname" class="form-control" name="firstname" placeholder="Enter your firstname" required = "required">
        <control-messages [control] = "registerForm.get('firstname')"></control-messages>
    </div>

    <div class="form-group">

        <input type="text" id="lastname"  formControlName = "lastname" class="form-control" name="lastname" placeholder="Enter your lastname" required = "required">
        <control-messages [control] = "registerForm.get('lastname')"></control-messages>
    </div>

    <div class="form-group">

        <input type="text" id="email"   formControlName = "email" class="form-control" name="email" placeholder="Enter your email"  required = "required">
        <control-messages [control] = "registerForm.get('email')"></control-messages>
    </div>

    <div class="form-group">

       <input type="text" id="username"  formControlName = "username" class="form-control" name="username" placeholder="Enter your chosen username" required = "required">
       <control-messages [control] = "registerForm.get('username')"></control-messages>
    </div>

    <div class="form-group">

        <input type="password" id="input"  formControlName = "password" class="form-control" name="passphrase" placeholder="Enter your chosen password" required = "required">
        <control-messages [control] = "registerForm.get('password')"></control-messages>
    </div>
    <div class="form-group">
      <button type = "submit"  class="btn btn-primary btn-block" [disabled] ="!registerForm.valid" >Register</button>
  </div>
</form>
</div>

<!-- FORM VALIDATION -->
<!-- form validation service abstracts all of this -->
<!-- <div *ngIf="registerForm.controls.firstname.invalid && (registerForm.controls.firstname.dirty || registerForm.controls.firstname.touched)"
    class="alert alert-danger">

<div *ngIf="registerForm.controls.firstname.errors.required">
  Firstname is required.
</div>

<div *ngIf="registerForm.controls.lastname.invalid && (registerForm.controls.lastname.dirty || registerForm.controls.lastname.touched)"
    class="alert alert-danger">

<div *ngIf="registerForm.controls.lastname.errors.required">
  Lastname is required.
</div>

<div *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)"
    class="alert alert-danger">

<div *ngIf="registerForm.controls.email.errors.required">
  Email is required.
</div>

<div *ngIf="registerForm.controls.email.errors.email">
  This email doesn't exist, it isn't even an email. Make sure it has the characters
  "@" and ".".
</div>




<div *ngIf="registerForm.controls.username.invalid && (registerForm.controls.username.dirty || registerForm.controls.username.touched)"
    class="alert alert-danger">

<div *ngIf="registerForm.controls.username.errors.required">
  Username is required.
</div>

<div *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)"
    class="alert alert-danger">

<div *ngIf="registerForm.controls.password.errors.required">
  Password is required.
</div>

<div *ngIf="registerForm.controls.password.errors.minlength">
  One word: weak.
</div>
</div> -->





