<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Post A Post!</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="container">
          <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" class="form-control" name="posttitle" id="posttitle" aria-describedby="title" #posttitle>
              <hr>
              <label for="post">Post:</label>
              <textarea class="form-control" id="postcontent" rows="3" #postcontent></textarea>
              <hr>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="publishPost(posttitle, postcontent)">Publish Post</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Post a Post</button>
  
  <hr>
  


