<div class="row">
  <div class="col-12 mb-2" *ngFor="let p of posts">
    <div class="card">
      <div class="card-body">
        <h2>{{ p.title }}</h2>
        <p class="text-muted">
          ({{ p.jradUser.username }}) | {{ p.created | date: "medium" }}
        </p>
        <p>{{ p.content }}</p>
        <app-comments [postId]="p.id"></app-comments>
        <app-newcomment
          [associatedPost]="p"
          (myEvent)="refresh()"
          *ngIf="userIsLoggedIn"
        ></app-newcomment>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <app-newpost *ngIf="userIsLoggedIn" (myEvent)="refresh()"></app-newpost>
</div>
