<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Comment</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="container">
          <div class="form-group">
              <label for="commentcontent">Comment:</label>
              <textarea class="form-control" id="post" rows="3"></textarea>
          </div>
          <!--<button class="btn btn-default" (click)="publishPost(newTitle, newLink)">Publish Post</button>-->
      </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Publish Post</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Comment</button>

  <hr>


